ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    width: 100%;
    color: black;
    font: Lucida Grande;
    text-decoration: none;
    display: block;
    padding: 16px;
    background-color:#0000FF;
}
