ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(137, 168, 196);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #808080;
}

h1 {
    font: Impact, sans-serif;
    color: rgb(1, 32, 104);
}

h2 {
    font: Impact, sans-serif;
    color: rgb(122, 165, 221)
}
